.nav-left
  width:260px
  position:absolute
  left:0
  top:0
  bottom:0px
  padding-top:30px
  background:#ccc
  a
    width: 100%
    height:32px
    line-height:32px
    text-align:center
    display:inline-block
    background: #999999
    text-decoration:none
    &:hover,&.active
      background:#666
.right-content
  position:absolute
  left:260px
  right:0px
  top:0px
  bottom:0px
